DATABASE_NAME=vending_machine
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=db
DATABASE_PORT=5432

# for monitoring with opentelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=https://your-otel-collector-endpoint
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Api-Token <your-otlp-token>
OTEL_SERVICE_NAME=vending-machine